.resume-container {
    width: 80vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#resume {
    width: 90%;
    height: 80%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}