.resume-container {
    width: 80vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#resume {
    width: 80%;
    height:fit-content;
    padding: 5%;
    margin: 5%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

#education-block, #experience-block {
    background-color: rgba(37, 95, 255, 0.212);
    border:solid rgb(37, 95, 255) 2px;
    border-radius: 20px;
    margin-top:5%;
    padding: 2%;
}